<% layout('/Layout/boilerplate') %>

<body>

  <form method="post" action="/listing/<%= List.id %>?_method=PATCH" novalidate class="needs-validation" enctype="multipart/form-data">
    <!-- This listing[title] is the way to make all them a part of an object name listing and Access it Easily -->
    <div class="row">
      <div class="col-8 offset-2">
        <br><br>
        <h3>Edit Your information</h3>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" value="<%= List.title %>" class="form-control" type="text" required>
          <div class="invalid-feedback">Please Enter the Title First</div>
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
          <textarea name="listing[description]" id="desc" class="form-control" required><%= List.description %></textarea>
          <div class="invalid-feedback">Please Enter the Description First</div>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" value="<%= List.price %>" class="form-control" type="text" required>
          <div class="invalid-feedback">Please Enter the Price First</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Orignal Image</label>
          <br>
          <img src="<%= List.image.url %>" 
          class="card-img-top show-img" 
          alt="Image Listings"
          style="height: 250px; width: 300px;">
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Select Image to Update</label>
          <input name="listing[image]" class="form-control" type="file">
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" value="<%= List.location %>" class="form-control" type="text" required>
            <div class="invalid-feedback">Please Enter the Loaction</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" value="<%= List.country %>" class="form-control" type="text" required>
            <div class="invalid-feedback">Please Enter the Country</div>
          </div>
        </div>
        <br><br>
        <button class="btn" type="submit">Submit</button>
        <br><br>
      </div>
    </div>
  </form>
</body>